<h1>New Appointment</h1>
<style>
  
body {
  background-color: #008B8B;
   }
</style>
<body>
<center><%= form_with model: @patient_appointment do |form| %>
  
  <div>
    
    <b><%= form.label :appointment_date %></b><br>
    <%= form.text_field :appointment_date %>
    <%= form.hidden_field :doctor_id, value: params['doctor_id']%>
  </div>
  <br>
  <div>
    <%= form.label :slot_time %><br>
    <%= form.text_area :slot_time %>
  </div>

  <div>
    <%= button_to "Submit", new_patient_appointment_path %>
  </div>
<% end %>

</center>
</body>